## Step1: Specialization Vector

In [ ]:
## Tramsform embedding dataframe to ndarray

In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
embedding_df = pd.read_pickle('/disks/qnap3/users/21-tomokiyo/masters_thesis/data/guideline_paper/scopus/who_scopus_candidate_embedding_2011_2015.pickle')

In [3]:
embedding_df.head(2)

,eid,0,1,2,3,4,5,6,7,8,...,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535
5958094,3914978,0.024877,0.020455,0.002267,0.020134,0.048890,0.063984,0.020937,-0.000780,-0.042343,...,-0.045901,0.008634,-0.002875,0.000903,0.015626,0.024358,0.027570,-0.005370,0.004833,0.016688
5958095,5238092,0.041480,0.018669,0.081892,0.041186,0.012121,0.005025,0.026687,0.009949,-0.017346,...,-0.020059,0.045917,-0.014179,0.013831,-0.042710,0.004620,0.021061,-0.004507,0.043031,-0.009862

In [4]:
additional_embedding_df = pd.read_pickle('/disks/qnap3/users/21-tomokiyo/masters_thesis/data/guideline_paper/all_guideline_matching/additional_embedding_2011-2015.pickle')

In [5]:
additional_embedding_df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,1527,1528,1529,1530,1531,1532,1533,1534,1535,eid
0,0.021997,-0.026548,0.128373,0.060310,-0.005398,0.053538,0.009042,0.039577,0.015298,0.029026,...,0.010501,-0.029272,0.007349,-0.011532,0.015188,0.039160,-0.012250,0.002279,0.034400,84875442265
1,0.012565,-0.021415,0.013894,0.034342,-0.049152,0.001824,0.004831,0.017713,-0.048868,0.026808,...,-0.003870,-0.002540,0.007328,-0.040380,-0.012972,0.036406,0.013352,-0.030575,0.010592,84861568429

In [6]:
embedding_df = pd.concat([embedding_df, additional_embedding_df])

In [7]:
embedding_df.reset_index(drop=True, inplace=True)

In [8]:
embedding_df.head(1)

,eid,0,1,2,3,4,5,6,7,8,...,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535
0,3914978,0.024877,0.020455,0.002267,0.020134,0.04889,0.063984,0.020937,-0.00078,-0.042343,...,-0.045901,0.008634,-0.002875,0.000903,0.015626,0.024358,0.02757,-0.00537,0.004833,0.016688

In [9]:
embedding_df.drop(columns=['eid'],inplace=True)

In [17]:
dense_matrix = embedding_df.values

In [18]:
dense_matrix.shape

(12237176, 1536)

In [20]:
# np.save('/disks/qnap3/users/21-tomokiyo/masters_thesis/data/guideline_paper/all_guideline_matching/embedding_matrix_2011_15.npy', dense_matrix)