## Policy self-citation by period

In [1]:
import os, sys, gc, random, itertools, math, pickle

import pandas as pd
import numpy as np
pd.options.display.max_columns = None
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = None
pd.options.display.float_format = '{:.3f}'.format


import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
from itertools import combinations

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import networkx as nx
from ast import literal_eval
import leidenalg as la
import community as community_louvain
import igraph as ig,leidenalg
import random



flatten2 = lambda l: [item for sublist in l if sublist == sublist for item in sublist]


def kamada(G):
    
    g = ig.Graph.TupleList(pd.DataFrame(G.edges()).itertuples(index=False), directed=False)
    
    return {v['name']:p for v,p in zip(g.vs(),g.layout_kamada_kawai()) }


def get_co_author_network(df,top_authors_):
    df['authids'] = df.authids.apply(lambda x: set(x) & top_authors_)
    
    coAuthors = flatten2(df['authids'].apply(lambda x: [[l[0],l[1],1 / (len(x) * (len(x) -1 )) ]  for l in list(itertools.product(x,x)) if l[0]!=l[1]] ))
    coAuthors = pd.DataFrame(coAuthors)
    coAuthors.columns = ['s','t','weight']
    coAuthors = coAuthors.groupby(['s','t']).count()['weight'].reset_index()


    G = nx.from_pandas_edgelist(coAuthors.query('weight>=1'),source='s',target='t')
    return G

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
authid_12 = np.load('/disks/qnap3/users/21-tomokiyo/masters_thesis/data/guideline_paper/member_data/2021/A1.2_who_guideline_development_group.npy')
authid_13 = np.load('/disks/qnap3/users/21-tomokiyo/masters_thesis/data/guideline_paper/member_data/A1.3_who_systematic_review_team_revise.npy')
authid_14 = np.load('/disks/qnap3/users/21-tomokiyo/masters_thesis/data/guideline_paper/member_data/2021/A1.4_who_external_methodologists.npy')
authid_15 = np.load('//disks/qnap3/users/21-tomokiyo/masters_thesis/data/guideline_paper/member_data/A1.5_who_external_review_team_revise.npy')

boradmember_authid = list(authid_12)+list(authid_13)+list(authid_14)+list(authid_15)

In [5]:
cited_eid = np.load('/disks/qnap3/users/21-tomokiyo/masters_thesis/data/guideline_paper/ref_data/2021/who_guideline_ref_eids.npy')

In [6]:
cited_eid_vector_df = pd.read_pickle('/disks/qnap3/users/21-tomokiyo/masters_thesis/data/guideline_paper/ref_data/2021/cited_eid_vector_181.pickle')

In [7]:
self_citation_eid = np.load('/disks/qnap3/users/21-tomokiyo/masters_thesis/data/guideline_paper/ref_data/2021/guideline_author_paper_eids.npy')

In [8]:
year_df = pd.read_pickle('/disks/qnap3/shared/scopus-24/data/paper/year.pickle')
year_df = pd.DataFrame(year_df)
year_df.reset_index(inplace=True)
year_df.rename(columns={'index':'eid'},inplace=True)

In [9]:
target_year_df = year_df[year_df['eid'].isin(cited_eid)]

In [10]:
target_year_df.head()

               eid  year
12615369  27362097  1993
13858467  28802284  1995
17504810  33006078  1999
18162362  33791138  2000
20979105  37029043  2002

In [11]:
target_year_df['self_citation'] = 0
target_year_df.loc[target_year_df['eid'].isin(self_citation_eid), 'self_citation'] = 1

/tmp/ipykernel_640485/2442705609.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_year_df['self_citation'] = 0

In [13]:
target_year_df1 = target_year_df[target_year_df['year']<=2015]
target_year_df2 = target_year_df[target_year_df['year']>=2016]

In [15]:
target_year_df1.groupby(['self_citation']).count()

               eid  year
self_citation
0               42    42
1               40    40

In [16]:
target_year_df2.groupby(['self_citation']).count()

               eid  year
self_citation
0               40    40
1               61    61

In [ ]:

2015年以前の論文82件中、self-citationが40件、非self-citationが42件
2016年以降の論文101件中、self-citationが61件、非self-citationが40件

In [21]:
round(100* 42 /82, 3)

51.22